*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media only screen and (max-width:800px) {
    
    header{
        width: 100%;
        height: 62px;
        background: rgb(255, 255, 255);
        box-shadow: 0 -1px 13px -3px rgba(77, 77, 77, 0.162);
        display: flex;
        justify-content: space-between;
    }

    .lo-im-te{
        width: 40%;
        height: 60px;
        display: flex;
        padding: 15px;
        align-items: center;
    }

    .lo-im-te > img{
        width: 40px;
        height: 40px;
        margin: 0 5px 0 0;
        object-fit: cover;
    }

    .lo-im-te > h2{
        color: rgb(43, 202, 162);
        font-size: 20px;
        font-family: 'Kanit', sans-serif;
    }

    .he-me-ha{
        width: 30%;
        height: 60px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .he-me-ha > .img{
        width: 27px;
        margin: 0 15px 0 0;
    }


    /*ASIDE*/


    .as-in{
        position: absolute;
        right: 0;
        background: rgb(53, 251, 201);
        height: 90.6vh;
        width: 50%;
        z-index: 50;
        outline:  0.5px solid rgb(32, 152, 122);
        box-shadow: -2px 1px 5px 2px rgba(77, 77, 77, 0.298);
    }

    .as-in-img{
        width: 100%;
        display: flex;
        justify-content: right;
    }

    .as-in-img > img{
        width: 24px;
        margin: 10px;
    }

    .as-in-c{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
    }

    .as-in-li{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        
    }

    .as-in-li > h3 {
        color: rgb(42, 42, 42);
        margin: 10px 0;
        padding-left: 14px;
        border-bottom: 1px solid rgb(255, 255, 255);
        text-shadow: -2px 1px 4px rgba(30, 121, 92, 0.534);
    }

    .as-in-ri{
        width: 100%;
        height: 62vh;
        display: flex;
        align-items: flex-end;
    }
    .as-in-ri > p{
        color: rgb(44, 44, 44);
        text-align: center;
        font-size: 15px;
    }




    /*MAIN*/


    .main{
        width: 100%;
        height: 47vh;
        background: url(Images/fondo.jpg) rgb(43, 202, 162);
        background-repeat: no-repeat;
        background-size: 150%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .ma-tex-1{
        width: 100%;
        height: 140px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .ma-tex-1 > h2{
        color: rgb(241, 241, 241);
        font-size: 26px;
        text-shadow: -2px 1px 4px rgb(41, 41, 41);
    }




    /*MAIN44*/

    .main4{
        width: 100%;
        height: 50vh;
        background:  #222222;
    }

    .m4-pds{
        width: 100%;
        height: 5vh;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .m4-pds > p{
        margin-top: 10px;
        color: rgba(230, 230, 230, 0.955);
        font-size: 18px;
        font-weight: 600;
        text-shadow: -2px 1px 8px rgba(53, 251, 201, 0.609);
    }

    .m4-pds-h3{
        display: flex;
        justify-content: space-between;
        padding: 18px;
    }

    .m4-pds-h3 > h3{
        color: rgb(247, 247, 247);
        text-shadow: 1px 0px 4px rgba(53, 251, 201, 0.721);
    }

    .m4-tc{
        width: 100%;
        padding: 15px;
        height: 33vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .m4-tc > p {
        color: rgb(53, 251, 201);
        font-weight: 600;
        font-size: 22px;
        text-shadow: 1px 0px 4px rgba(255, 255, 255, 0.261);
    }

    

    
    /*MAIN2*/

    .main-2{
        width: 100%;
        height: 47vh;
        background: rgb(255, 255, 255);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
    }


    .ma2-tex{
        background:  #222222;
        padding: 5px;
        border-radius: 10px;
        outline: 1px solid rgb(53, 251, 201);
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.225);
    }

    .ma2-tex > form{
        display: flex;
        flex-direction: column;   
    }

    .for-tit{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .for-tit > h3{
        color: rgb(54, 232, 187);
        margin: 5px;
        text-shadow: -2px 1px 4px rgba(223, 223, 223, 0.134);
    }

    .for-tit > p{
        color: rgb(210, 210, 210);
        text-align: center;
        margin: 0 0 10px 0;
        font-size: 13.5px;
    }

    .for-inp{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .for-inp > input{
        margin: 3.9px;
        background: transparent;
        border:1px solid rgb(53, 251, 201);
        width: 100%;
        height: 23px;
        border-radius: 10px;
        text-align: center;
        padding: 3px;
        color: rgb(53, 251, 201);
    }

    .for-inp > input::placeholder{
        color: rgb(53, 251, 201);
        font-size: 12px;
    }



}